<div class="homeIntro">
  <div class="logoWrapper">
    <img src="images/pakyow-small.png" class="logo">
    <h1 class="logoText">pakyow</h1>
  </div>
  <p class="clear"></p>
  <ul id="navigation"></ul>
  
  <h2>
    Pakyow is an open-source framework for building web apps in Ruby. It enables you to get
    straight to work by letting data be data, views be views, and code be code.
    <em>Simple.</em>
  </h2>
</div>

<div class="walkthrough">
  <div class="description">
    <h3>Designer-friendly Views</h3>
    
    <p>
      In Pakyow, views are purely structural and contain no logic, keeping the view focused on it's job of 
      presentation. No special markup is required in the view. This means the designer
      can build the presentation layer for an app in their own environment.
    </p>
    
    <a href="/manual#section_3">Learn more about views &rarr;</a>
  </div>
  
  <img src="/images/walkthrough-views.png">
</div>

<div class="walkthrough">
  <img src="/images/walkthrough-construction.png">
  
  <div class="description">
    <h3>Simple Prototypes</h3>
    
    <p>
      View construction happens automatically, which means a working, navigable front-end can be created without 
      any back-end code. Business logic is added later without any changes to the front-end, eliminating resistance
      and keeping development moving forward.
    </p>
    
    <a href="/manual">Learn more about view construction &rarr;</a>
  </div>
</div>

<div class="walkthrough">
  <div class="description">
    <h3>Intelligent Connections</h3>
    
    <p>
      Data awareness is built into views, meaning a view knows what it presents. Data is bound in from the back-end
      without requiring a single change to the view. Roles and responsibilities remain clear throughout the
      development process.
    </p>
    
    <a href="/manual">Learn more about data binding &rarr;</a>
  </div>
  
  <img src="/images/walkthrough-data.png">
</div>

<p>
  Pakyow does all of this (and more) while being simple to use and performant in tough
  situations. It's the best way to take down a hard-hitting project. Does
  your development process pack this much punch?
</p>

<div class="action"><a href="/manual">Get ready to rumble.</a></div>