<div id="header"></div>

<p>
  Ask a question and contribute your ideas on the <a href="http://groups.google.com/group/pakyow">mailing list</a>.
</p>

<p>
  Join the <a href="irc://irc.freenode.net/#pakyow">#pakyow</a> channel on irc.freenode.net. 
</p>

<p>
  Please report bugs on the <a href="http://github.com/metabahn/pakyow/issues">GitHub Repo</a>.
</p>

<p>
  Follow <a href="http://twitter.com/pakyow">@pakyow</a> on Twitter 
  (individual developers: <a href="http://twitter.com/bryanp">@bryanp</a> and <a href="http://twitter.com/hby">@hby</a>).
</p>

<p>
  Circle <a href="https://plus.google.com/103087509604678681002/">pakyow</a> on 
  <a style="text-decoration:none;" href="https://plus.google.com/103087509604678681002/">
    <img src="https://ssl.gstatic.com/images/icons/gplus-16.png" width="16" height="16" style="border: 0;text-decoration:none;">
  </a>
</p>
